
@import url('http://fonts.googleapis.com/css?family=Roboto:100,400,900&display=swap');

$orange: #E65C43;
$background-color:  #FFF;
$gray:   #666;
$salmon:  #F25C43;
$white:  #F5F6F6;
$chacoal:  #30353D;

$font-body: Roboto, sans-serif;
$font-heading: 'Roboto';


$background-img: url('../images/bg.gif');
$logo-img: url('../images/logo.png');
$social-img: url('../images/social-media.png'); 

